* {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.contenedorNav {
  height: 100vh;
  width: 22rem;
  background-color: rgb(29, 28, 30);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
.contenedorNav .navBienvenida .contenedorLogo {
  height: 55vh;
}
.contenedorNav .navBienvenida .contenedorLogo .logo {
  display: flex;
  justify-content: center;
  padding: 3rem;
}
.contenedorNav .navBienvenida .contenedorLogo .logo .imgLogo {
  width: 13rem;
}
.contenedorNav .navBienvenida .barraNav ul {
  text-align: center;
  list-style-type: none;
  cursor: pointer;
  overflow: hidden;
}
.contenedorNav .navBienvenida .barraNav ul li {
  padding: 0.5rem;
}
.contenedorNav .navBienvenida .barraNav ul li a {
  color: gray;
  text-decoration: none;
  font-size: 1.7rem;
  font-family: Montserrat;
}
.contenedorNav .navBienvenida .barraNav ul li a:hover {
  color: white;
  border: 0;
  border-bottom: rgb(21, 0, 206);
  border-style: solid;
  width: 100%;
}

.contenedorCompacteras {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cajaMixers {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cajaEfectera {
  -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@media (max-width: 480px) {
  header .contenedorNav {
    height: 27vh;
    width: 100%;
  }
  header .contenedorNav .navBienvenida .contenedorLogo {
    height: 0;
  }
  header .contenedorNav .navBienvenida .contenedorLogo .logo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px;
  }
  header .contenedorNav .navBienvenida .contenedorLogo .logo .imgLogo {
    width: 10rem;
  }
  header .contenedorNav .barraNav ul li {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  header .contenedorNav .barraNav ul li a {
    font-size: 1em;
    font-family: Montserrat;
  }
  .mainBienvenida {
    width: 100%;
    height: 100%;
  }
  .mainBienvenida .contenedorBienvenida .cajaNombre .fondo {
    object-fit: cover;
  }
  .mainBienvenida .contenedorBienvenida .cajaNombre .contenedorNombre {
    width: 100%;
  }
  .mainBienvenida .contenedorBienvenida .cajaNombre .contenedorNombre .logoBlanco {
    margin: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mainBienvenida .contenedorBienvenida .cajaNombre .contenedorGenero {
    margin-left: 20rem;
    text-align: center;
  }
  main .seccionInicio {
    height: 70vh;
  }
  main .seccionInicio .imagen {
    width: 100%;
    background-color: #1d1c1c;
  }
  main .seccionInicio .imagen .img {
    width: 0%;
    object-fit: cover;
  }
  main .seccionInicio .imagen .backdrop {
    width: 100%;
  }
  main .seccionInicio .inicioFrase {
    padding: 1rem;
  }
  main .seccionInicio .inicioFrase .textoH2 {
    width: 100%;
    padding: 0;
    font-size: 2rem;
    text-align: center;
    z-index: 2;
  }
  main .seccion2 {
    width: 100%;
  }
  main .seccion2 .informacionSet {
    width: 100%;
    z-index: 2;
  }
  main .seccion2 .informacionSet h2 {
    width: 100%;
    font-size: 1.7rem;
  }
  main .seccion2 .informacionSet p {
    width: 100%;
    font-size: 1rem;
  }
  main .seccion2 .contenedorImagenSet {
    width: 0%;
    left: 0;
  }
  main .seccion2 .contenedorImagenSet img {
    width: 100px;
  }
  main .seccion3 {
    width: 100%;
    height: 120vh;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "col1" "col2" "col3" "col4";
  }
  main .seccion3 .contenedorResumen {
    width: 100%;
    height: 50vh;
    grid-area: col1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main .seccion3 .contenedorResumen .resumenExp {
    width: 100%;
    height: 60vh;
    padding: 0;
    border: 0;
  }
  main .seccion3 .contenedorResumen .resumenExp h3 {
    width: 100%;
    font-size: 1.7rem;
  }
  main .seccion3 .contenedorResumen .resumenExp p {
    width: 100%;
    font-size: 1rem;
  }
  main .seccion3 .contenedorSets {
    width: 100%;
    height: 20vh;
    grid-area: col2;
    padding: 0;
  }
  main .seccion3 .contenedorSets .resumenSets {
    width: 100%;
    padding: 0;
    border: 0;
  }
  main .seccion3 .contenedorSets .resumenSets h3 {
    width: 100%;
    font-size: 1.7rem;
  }
  main .seccion3 .contenedorSets .resumenSets p {
    width: 100%;
    font-size: 1rem;
  }
  main .seccion3 .contenedorLinea {
    grid-area: col4;
    width: 0%;
    height: 0vh;
  }
  main .seccion3 .contenedorLinea .linea {
    margin-bottom: 0;
  }
  main .seccion3 .contenedorBiografia {
    width: 100%;
    height: 50vh;
    grid-area: col3;
  }
  main .seccion3 .contenedorBiografia .resumenBiografia {
    width: 100%;
    padding: 0;
    border: 0;
  }
  main .seccion3 .contenedorBiografia .resumenBiografia h3 {
    width: 100%;
    font-size: 1.7rem;
  }
  main .seccion3 .contenedorBiografia .resumenBiografia p {
    width: 100%;
    font-size: 1rem;
  }
  footer .contenedorFooter {
    height: 70vh;
  }
}
* h3 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 2.5rem;
}

* p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
  padding: 1rem;
}

.seccionInicio {
  width: 100%;
  height: 80vh;
}
.seccionInicio .imagen {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}
.seccionInicio .imagen img {
  width: 100%;
  position: absolute;
  top: -10rem;
  z-index: -2;
}
.seccionInicio .imagen .backdrop {
  width: 100%;
  height: 80vh;
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: -2;
}
.seccionInicio .inicioFrase {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccionInicio .inicioFrase h2 {
  padding: 10rem;
  font-size: 4rem;
  font-family: "Edu AU VIC WA NT Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px black;
  z-index: -1;
}

.seccion2 {
  width: 100%;
  height: 50vh;
  background-color: rgb(29, 28, 28);
}
.seccion2 .informacionSet {
  color: white;
  padding: 6rem;
}
.seccion2 .informacionSet h2 {
  text-align: center;
  color: white;
  padding: 1rem;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 3rem;
}
.seccion2 .informacionSet p {
  color: white;
  text-align: center;
  font-size: 1.4rem;
}

.seccion3 {
  width: 100%;
  height: 150vh;
  background-color: #1d1c1c;
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr 1fr 0.4fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: ".     caja1         caja1         .          ." ".    caja1        caja1     caja2      caja2" ".    .        .    caja2      caja2" ".    linea       linea      caja2      caja2" ".    caja3       caja3      caja3      ." ".    caja3       caja3      caja3      .";
  color: white;
}
.seccion3 .contenedorResumen {
  grid-area: caja1;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60vh;
}
.seccion3 .contenedorResumen .resumenExp {
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.seccion3 .contenedorSets {
  grid-area: caja2;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50vh;
}
.seccion3 .contenedorSets .resumenSets {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-color: white;
  border: 0;
  border-left: 2px;
  border-style: solid;
  padding: 2rem;
}
.seccion3 .contenedorLinea {
  grid-area: linea;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20vh;
}
.seccion3 .contenedorLinea .linea {
  width: 100%;
  height: 10vh;
  border: 0px;
  border-bottom: 2px;
  border-top: 2px;
  border-style: solid;
  border-color: rgb(21, 0, 206);
  padding: 2rem;
  margin-bottom: 20rem;
  margin-right: 10rem;
}
.seccion3 .contenedorBiografia {
  grid-area: caja3;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  height: 40vh;
}
.seccion3 .contenedorBiografia .resumenBiografia {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-color: white;
  border: 0;
  border-top: 2px;
  border-style: solid;
  padding: 4rem;
}

.mainBienvenida {
  width: 100%;
  height: 100vh;
}
.mainBienvenida .contenedorBienvenida {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBienvenida .contenedorBienvenida .cajaNombre {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.mainBienvenida .contenedorBienvenida .cajaNombre .fondo {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -2;
}
.mainBienvenida .contenedorBienvenida .cajaNombre .blur {
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: -1;
}
.mainBienvenida .contenedorBienvenida .cajaNombre .contenedorNombre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBienvenida .contenedorBienvenida .cajaNombre .contenedorNombre .logoBlanco {
  object-fit: cover;
  width: 100%;
  margin-right: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainBienvenida .contenedorBienvenida .cajaNombre .contenedorGenero {
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.377);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20rem;
}
.mainBienvenida .contenedorBienvenida .cajaNombre .contenedorGenero .genero {
  color: white;
  font-size: 2rem;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
}

.formulario {
  width: 100%;
  height: 80vh;
  background-color: #1d1c1c;
}
.formulario form {
  width: 100%;
  height: 80vh;
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formulario form .mb-3 {
  width: 50%;
  color: white;
}

section .contenedorExp .infoExp {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  background-color: rgb(29, 28, 30);
}
section .contenedorExp .infoExp h2 {
  font-size: 2.5rem;
  color: white;
  width: 40%;
  text-align: center;
  border: 0;
  border-bottom: 2px;
  border-style: solid;
  border-color: rgb(21, 0, 206);
  padding: 1rem;
  font-family: "DM Sans";
}
section .contenedorExp .infoExp p {
  font-size: 1.7em;
  padding: 1rem;
  text-align: center;
  color: white;
  height: 30vh;
  border: 0;
  border-right: 2px;
  border-left: 2px;
  border-style: solid;
  display: flex;
  align-items: center;
}
section .contenedorExp .contenedorEquipos {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
  background-color: rgb(29, 28, 30);
  color: white;
}
section .contenedorExp .cajaCompacteras {
  width: 100%;
  height: 60vh;
  background-color: rgb(29, 28, 30);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 0.2fr 1fr;
  grid-template-areas: ".   caja1    caja2    caja3     ." ".     .        .        .       ." ".   caja5    caja5    caja5     .";
  padding: 1rem;
  color: white;
}
section .contenedorExp .cajaCompacteras .contenedorCompacteras {
  grid-area: caja1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
section .contenedorExp .cajaCompacteras .contenedorCompacteras li {
  font-family: Montserrat;
}
section .contenedorExp .cajaCompacteras .cajaMixers {
  grid-area: caja3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
section .contenedorExp .cajaCompacteras .cajaMixers li {
  font-family: Montserrat;
}
section .contenedorExp .cajaCompacteras .cajaEfectera {
  grid-area: caja5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 20px black;
}
section .contenedorExp .cajaCompacteras .cajaEfectera li {
  font-family: Montserrat;
}

.contenedorSets {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1d1c1c;
  padding: 10rem;
}
.contenedorSets .tituloSets h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.contenedorSets .textoSets {
  padding: 1rem;
}
.contenedorSets .textoSets p {
  text-align: center;
  color: white;
  font-size: 1.7rem;
}

.contenedorQuienSoy {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1d1c1c;
  padding: 5rem;
}
.contenedorQuienSoy .tituloBiografia h2 {
  font-size: 3rem;
  color: white;
  padding: 1rem;
}
.contenedorQuienSoy .textoBiografia p {
  padding: 1rem;
  text-align: center;
  color: white;
  font-size: 1.7rem;
}

.navbar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 1000;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: rgb(21, 0, 206);
}
.navbar .container-fluid {
  background-color: #1d1c1c;
}
.navbar .container-fluid .logo {
  z-index: 2;
  width: 6rem;
}
.navbar .container-fluid div {
  justify-content: center;
  align-items: center;
}
.navbar .container-fluid div .navbar-nav .nav-item {
  cursor: pointer;
  overflow: hidden;
  transition: transform 2s;
}
.navbar .container-fluid div .navbar-nav .nav-item a {
  color: gray;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  padding: 0.5rem;
  position: relative;
}
.navbar .container-fluid div .navbar-nav .nav-item a:hover {
  color: white;
  transform: scale(1.1) translateX(1px);
  border: 0;
  border-bottom: rgb(21, 0, 206);
  border-style: solid;
  width: 100%;
}

.contenedorFooter {
  width: 100%;
  height: 55vh;
  background-color: rgb(29, 28, 30);
  text-decoration: none;
  border: 0;
  border-top: 1px;
  border-style: solid;
  border-color: rgb(21, 0, 206);
}
.contenedorFooter .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.contenedorFooter .footer p {
  color: white;
}
.contenedorFooter .informacionExtraFooter a {
  color: white;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 100;
}
.contenedorFooter .informacionExtraFooter2 a {
  padding: 5rem;
}

* button {
  border-radius: 10px;
  padding: 4px;
}
* button a {
  text-decoration: none;
  color: black;
}

* h2 {
  font-family: "DM Sans";
  font-weight: 300;
  font-size: 2.5rem;
}

*.topB {
  width: 3rem;
  position: fixed;
  bottom: 40px;
  left: 40px;
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 20rem;
  cursor: pointer;
  font-size: 30px;
  z-index: 1000;
  text-decoration: none;
  text-align: center;
  line-height: 1;
}