.mainBienvenida {
  width: 82%;
  height: 100vh;

  .contenedorBienvenida {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    

    .cajaNombre {
      width: 100%;
      height: 100vh;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
            
      
      .fondo {
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: -2;
         
      }

      .blur {
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(5px);
        position: absolute;
        z-index: -1;
      }

      .contenedorNombre {
        display: flex;
        justify-content: center;
        align-items: center;
        

        .logoBlanco {
            object-fit: cover;
            width: 80rem;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
      }

      .contenedorGenero {
        width: 100%;
        height: 4rem;
        background-color: rgba(0, 0, 0, 0.377);

        display: flex;
        justify-content: center;
        align-items: center;

        .genero {
          color: white;
          font-size: 2rem;
          font-family: Montserrat, sans-serif;
          font-weight: 200;
        }
      }
    }
  }
}
