.navbar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;

    z-index: 1000;

    border: 0;
    border-bottom: 1px;
    border-style: solid;
    border-color: $colorLineas;

    .container-fluid {

        background-color: $colorNav2;

        .logo {
            z-index: 2;
            width: 6rem;

            
        }

        div {
           
            justify-content: center;


            .navbar-nav {
                
            
                .nav-item{
                    
                    cursor: pointer;
                    overflow: hidden;
                    transition: transform 2s;

                    
                    

                    a{
                        color: gray;
                        font-family: "DM Sans", sans-serif;
                        font-optical-sizing: auto;
                        font-style: normal;
                        font-weight: 300;
                        font-size: 1.2rem;
                        padding: 0.5rem;
                        position: relative;
                        
                        &:hover {
                            color: white;
                            transform: scale(1.1) translateY(-4px);
                            border: 0;
                            border-bottom: $colorLineas;
                            border-style: solid;
                            width: 100%;
                            
                        }
                        
                    } 
        
                }
            }
        }

    }
}
