@font-face {
    font-family: Arsenal;
    src: url(../../assets/fonts/Arsenal.ttf);
}

@font-face {
    font-family: letraLogo;
    src: url(../../assets/fonts/letraLogo.ttf);
}

@font-face {
    font-family: letraTexto-Extralight;
    src: url(../../assets/fonts/letraTexto-Extralight.ttf);
}

@font-face {
    font-family: letraTexto-Hardline;
    src: url(../../assets/fonts/letraTexto-Hardline.ttf);
}

@font-face {
    font-family: Lovers;
    src: url(../../assets/fonts/Lovers.ttf);
}

@font-face {
    font-family: Monserrat;
    src: url(../../assets/fonts/Montserrat.ttf);
}


$Arsenal: Arsenal; 
$letraLogo: letraLogo;
$letraTexto-Extralight: letraTexto-Extralight;
$letraTexto-Hardline: letraTexto-Hardline;
$Lovers: Lovers;
$Monserrat: Monserrat;