@font-face {
    font-family: Arsenall;
    src: url(../../assets/fonts/Arsenal.ttf);
}

@font-face {
    font-family: letraLogoo;
    src: url(../../assets/fonts/letraLogo.ttf);
}

@font-face {
    font-family: letraTexto-Extralightt;
    src: url(../../assets/fonts/letraTexto-Extralight.ttf);
}

@font-face {
    font-family: letraTexto-Hardlinee;
    src: url(../../assets/fonts/letraTexto-Hardline.ttf);
}

@font-face {
    font-family: Loverss;
    src: url(../../assets/fonts/Lovers.ttf);
}

@font-face {
    font-family: Monserratt;
    src: url(../../assets/fonts/Montserrat.ttf);
}


$Arsenal: Arsenal; 
$letraLogo: letraLogo;
$letraTexto-Extralight: letraTexto-Extralight;
$letraTexto-Hardline: letraTexto-Hardline;
$Lovers: Lovers;
$Monserrat: Monserrat;